body {
  margin: 0;
  padding: 0;
}
button {
  padding: 5px 10px;
  border: 2px solid rgb(92, 78, 0);
  border-radius: 5px;
  background-color: indigo;
  color: whitesmoke;
}
h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  width: 700px;
  margin: 20px auto;
  padding: 15px;
  border: 3px solid goldenrod;
  border-radius: 15px;
}
.text-container {
  border: 2px solid gold;
  border-radius: 15px;
  padding: 15px;
  margin: 15px 0;
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.color-container {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: 2s;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.color-container__colors {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.active {
  opacity: 1;
  height: auto;
  overflow: visible;
}
.color-set {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#red {
  background-color: red;
}
#green {
  background-color: green;
}
#yellow {
  background-color: yellow;
}
#purple {
  background-color: purple;
}
#blue {
  background-color: blue;
}
#pink {
  background-color: pink;
}
