body {
  margin: 0;
  padding: 0;
}
button {
  padding: 5px 10px;
  border: 2px solid rgb(92, 78, 0);
  border-radius: 5px;
  background-color: indigo;
  color: whitesmoke;
}

.container {
  width: 700px;
  margin: 20px auto;
  padding: 15px;
  border: 3px solid goldenrod;
  border-radius: 15px;
}
.text-container {
  border: 2px solid gold;
  border-radius: 15px;
  padding: 15px;
  margin: 15px 0;
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
